.Logo {
  width: auto;
  font-size: 1.1rem;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: +2px;
  white-space: nowrap;
  color: #ffffff;
  font-family: "Josefin Slab", serif;
}
.Logo:hover {
  cursor: pointer;
}
.dark {
  color: #000000;
}
